{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{/each}}

<div class="card">
    <div class="card-body">
        <h4>Editar postagem: </h4>
        <form action="/admin/postagens/edit" method="POST">
            <input type="hidden" value="{{postagem._id}}" name="id">
            <label for="titulo" class="mt-3">Título</label>
            <input type="text" name="titulo" class="form-control mt-2" value="{{postagem.titulo}}" placeholder="Digite o título" required>
            <label for="slug" class="mt-3">Slug: </label>
            <input type="text" name="slug" class="form-control mt-2" value="{{postagem.slug}}" placeholder="Digite o slug" required>
            <label for="descricao" class="mt-3">Descrição: </label>
            <input type="text" name="descricao" class="form-control mt-2" value="{{postagem.descricao}}" placeholder="Digite a descrição" required>
            <label for="conteudo" class="mt-3">Conteúdo: </label>
            <textarea name="conteudo" class="form-control mt-2" placeholder="Digite o conteúdo" required>{{postagem.conteudo}}</textarea>
            <label for="categoria" class="mt-3">Categoria: </label>
            <select name="categoria" class="form-select mt-2" required>
                {{#each categorias}}
                    <option value="{{_id}}">{{nome}}</option>
                {{else}}
                    <option value="0">Nenhuma categoria registrada.</option>
                {{/each}}
            </select>
            <button class="btn btn-success mt-4" type="submit">Editar postagem</button>
        </form>
    </div>
</div>